<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th style="width: 100px">이름</th>
        <th style="width: 100px">아이디</th>
        <th style="width: 100px">비밀번호</th>
        <th style="width: 100px">전화번호</th>
        <th style="width: 100px">주소</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td style="width: 100px; text-align: center" th:text="${member.name}"></td>
        <td style="width: 100px; text-align: center" th:text="${member.id}"></td>
        <td style="width: 100px; text-align: center" th:text="${member.pw}"></td>
        <td style="width: 100px; text-align: center" th:text="${member.tel}"></td>
        <td style="width: 100px; text-align: center" th:text="${member.address}"></td>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>